<a href="https://colab.research.google.com/github/HassanSaeed107/UAE_auto_cars/blob/main/dubai_auto_cars_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Importing DataSet

In [ ]:
df = pd.read_csv('/content/dubizzle_cars_dataset.csv')
df.head()

,price,brand,model,trim,kilometers,year,vehicle_age_years,regional_specs,doors,body_type,...,interior_color,warranty,address,country,city,area_name,location_name,latitude,longitude,seller_type
0,129900,Dodge,Ram,1500 SLT Crew,47566,2021,3,GCC Specs,4,Pick Up Truck,...,Unknown,Yes,"Al Khabaisi, Deira, Dubai, UAE",UAE,Dubai,Deira,Al Khabaisi,25.266173,55.337772,Dealership/Certified Pre-Owned
1,319900,Alfa Romeo,Stelvio,Quadrifoglio,8914,2020,4,GCC Specs,5,SUV,...,Black,Yes,"Abu Hail, Deira, Dubai, UAE",UAE,Dubai,Deira,Abu Hail,25.275416,55.346450,Dealership/Certified Pre-Owned
2,149900,Audi,Q5,S-line,72205,2019,5,GCC Specs,5,SUV,...,Brown,Yes,"Al Khabaisi, Deira, Dubai, UAE",UAE,Dubai,Deira,Al Khabaisi,25.266173,55.337772,Dealership/Certified Pre-Owned
3,79900,Alfa Romeo,GIULIETTA,Veloce,49193,2021,3,GCC Specs,4,Hatchback,...,Black,Yes,"Al Khabaisi, Deira, Dubai, UAE",UAE,Dubai,Deira,Al Khabaisi,25.266173,55.337772,Dealership/Certified Pre-Owned
4,154900,GAC,GS8,GL,30,2024,0,GCC Specs,5,SUV,...,Other Color,Yes,"Al Khabaisi, Deira, Dubai, UAE",UAE,Dubai,Deira,Al Khabaisi,25.266173,55.337772,Dealership/Certified Pre-Owned

# **Preprocessing**

In [ ]:
df.shape

(9953, 27)

## Seperated Numerical and Categorical Columns

In [ ]:
# Distinguish column types
numerical_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(exclude=[np.number]).columns

print("\nNumerical Columns:", numerical_cols)
print("Categorical Columns:", categorical_cols)

Numerical Columns: Index(['price', 'kilometers', 'year', 'vehicle_age_years', 'doors',
       'seating_capacity', 'no_of_cylinders', 'latitude', 'longitude'],
      dtype='object')
Categorical Columns: Index(['brand', 'model', 'trim', 'regional_specs', 'body_type', 'fuel_type',
       'transmission_type', 'engine_capacity_cc', 'horsepower',
       'exterior_color', 'interior_color', 'warranty', 'address', 'country',
       'city', 'area_name', 'location_name', 'seller_type'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9953 entries, 0 to 9952
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               9953 non-null   int64
 1   brand               9953 non-null   object
 2   model               9953 non-null   object
 3   trim                9941 non-null   object
 4   kilometers          9953 non-null   int64
 5   year                9953 non-null   int64
 6   vehicle_age_years   9953 non-null   int64
 7   regional_specs      9953 non-null   object
 8   doors               9953 non-null   int64
 9   body_type           9953 non-null   object
 10  fuel_type           9953 non-null   object
 11  seating_capacity    9953 non-null   int64
 12  transmission_type   9953 non-null   object
 13  engine_capacity_cc  7992 non-null   object
 14  horsepower          9495 non-null   object
 15  no_of_cylinders     9953 non-null   int64
 16  exterior_color      9953 non-null   object
 17  interior_color      9953 non-null   object
 18  warranty            9953 non-null   object
 19  address             9953 non-null   object
 20  country             9953 non-null   object
 21  city                9953 non-null   object
 22  area_name           9334 non-null   object
 23  location_name       4633 non-null   object
 24  latitude            9580 non-null   float64
 25  longitude           9580 non-null   float64
 26  seller_type         9953 non-null   object
dtypes: float64(2), int64(7), object(18)
memory usage: 2.1+ MB

### Checking Missing Values

In [ ]:
df.isna().sum()

price                    0
brand                    0
model                    0
trim                    12
kilometers               0
year                     0
vehicle_age_years        0
regional_specs           0
doors                    0
body_type                0
fuel_type                0
seating_capacity         0
transmission_type        0
engine_capacity_cc    1961
horsepower             458
no_of_cylinders          0
exterior_color           0
interior_color           0
warranty                 0
address                  0
country                  0
city                     0
area_name              619
location_name         5320
latitude               373
longitude              373
seller_type              0
dtype: int64

#### Checking Unique Values in "Engine_Capacity_CC"

In [ ]:
df['engine_capacity_cc'].unique()

array(['4000+ cc', '2500 - 2999 cc', '2000 - 2499 cc', '1500 - 1999 cc',
       '3500 - 3999 cc', nan, 'Unknown', '3000 - 3499 cc',
       '1000 - 1499 cc', '0 - 499 cc', '500 - 999 cc'], dtype=object)

## Mapping "Engine_Capacity_CC" for filling the missing values

In [ ]:
engine_capacity_mapping = {
    '0 - 499 cc': 250,
    '500 - 999 cc': 750,
    '1000 - 1499 cc': 1250,
    '1500 - 1999 cc': 1750,
    '2000 - 2499 cc': 2250,
    '2500 - 2999 cc': 2750,
    '3000 - 3499 cc': 3250,
    '3500 - 3999 cc': 3750,
    '4000+ cc': 4000,
    'Unknown': np.nan
}

# Map engine capacity ranges to numeric values
df['engine_capacity_cc'] = df['engine_capacity_cc'].map(engine_capacity_mapping)

# Fill missing values with median engine capacity
median_engine_capacity = df['engine_capacity_cc'].median()
df['engine_capacity_cc'].fillna(median_engine_capacity, inplace=True)

#### Checking Unique Values in "Horsepower"

In [ ]:
df['horsepower'].unique()

array(['300 - 399 HP', '500 - 599 HP', '200 - 299 HP', '400 - 499 HP',
       '100 - 199 HP', nan, '600 - 699 HP', '900+ HP', '700 - 799 HP',
       'Unknown', '800 - 899 HP', '0 - 99 HP'], dtype=object)

## Mapping "Horsepower" for filling the missing values

In [ ]:
# Convert horsepower ranges to numeric values
horsepower_mapping = {
    '0 - 99 HP': 50,
    '100 - 199 HP': 150,
    '200 - 299 HP': 250,
    '300 - 399 HP': 350,
    '400 - 499 HP': 450,
    '500 - 599 HP': 550,
    '600 - 699 HP': 650,
    '700 - 799 HP': 750,
    '800 - 899 HP': 850,
    '900+ HP': 900,
    'Unknown': np.nan
}

# Map horsepower ranges to numeric values
df['horsepower'] = df['horsepower'].map(horsepower_mapping)

# Fill missing values with median horsepower
median_horsepower = df['horsepower'].median()
df['horsepower'].fillna(median_horsepower, inplace=True)

## Impute Missing values of "Area_name & Location_name & Trim" with mode

In [ ]:
# Impute missing values in 'area_name', 'location_name' and 'Trim' columns with mode
df['area_name'].fillna(df['area_name'].mode().iloc[0], inplace=True)
df['location_name'].fillna(df['location_name'].mode().iloc[0], inplace=True)
df['trim'].fillna(df['trim'].mode().iloc[0], inplace=True)

## Imputation with mean for "Latitude & Longitude"

In [ ]:
# Mean imputation for latitude
mean_latitude = df['latitude'].mean()
df['latitude'].fillna(mean_latitude, inplace=True)

# Mean imputation for longitude
mean_longitude = df['longitude'].mean()
df['longitude'].fillna(mean_longitude, inplace=True)

## DataSet is Cleaned now and ready for Further Analysis

In [ ]:
df.isna().sum()

price                 0
brand                 0
model                 0
trim                  0
kilometers            0
year                  0
vehicle_age_years     0
regional_specs        0
doors                 0
body_type             0
fuel_type             0
seating_capacity      0
transmission_type     0
engine_capacity_cc    0
horsepower            0
no_of_cylinders       0
exterior_color        0
interior_color        0
warranty              0
address               0
country               0
city                  0
area_name             0
location_name         0
latitude              0
longitude             0
seller_type           0
dtype: int64

In [ ]:
df.describe()

,price,kilometers,year,vehicle_age_years,doors,seating_capacity,engine_capacity_cc,horsepower,no_of_cylinders,latitude,longitude
count,9953.000000,9.953000e+03,9953.000000,9953.000000,9953.000000,9953.000000,9953.000000,9953.000000,9953.000000,9953.000000,9953.000000
mean,162009.236311,8.187313e+04,2018.118155,5.881845,3.964533,4.597408,2986.687431,343.665227,5.751432,25.117984,55.232448
std,187120.064955,9.029117e+04,5.163806,5.163806,0.948349,1.795174,814.668210,157.517956,2.195505,0.216347,0.257114
min,1000.000000,0.000000e+00,1956.000000,0.000000,2.000000,0.000000,250.000000,50.000000,0.000000,23.651535,53.701969
25%,44900.000000,1.894100e+04,2016.000000,2.000000,4.000000,4.000000,2250.000000,250.000000,4.000000,25.078641,55.216899
50%,92000.000000,6.800000e+04,2019.000000,5.000000,4.000000,5.000000,3250.000000,350.000000,6.000000,25.167737,55.256297
75%,205000.000000,1.225000e+05,2022.000000,8.000000,5.000000,5.000000,3750.000000,450.000000,8.000000,25.217623,55.379422
max,999900.000000,2.580000e+06,2024.000000,68.000000,5.000000,8.000000,4000.000000,900.000000,12.000000,25.868224,56.347195

In [ ]:
# Save the cleaned dataset to a CSV file

df.to_csv('dubai_auto_cars_cleaned.csv', index=False)
print("Cleaned dataset has been saved to 'dubai_auto_cars_cleaned.csv'")

Cleaned dataset has been saved to 'dubai_auto_cars_cleaned.csv'